body {
  font-family: 'Plus Jakarta Sans', sans-serif; /* Default font */
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Navigation Bar Styles */
.navigation-bar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow at the bottom */
}

/* Flex container adjustments for upper and lower navbar */
.upper-navbar,
.lower-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Default mobile-friendly styles */
.upper-navbar .left-part,
.upper-navbar .middle-part,
.upper-navbar .right-part,
.lower-navbar .left-part,
.lower-navbar .middle-part,
.lower-navbar .right-part {
  flex: 1 1 100%;
  text-align: center;
  margin: 5px 0;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .upper-navbar,
  .lower-navbar {
    flex-wrap: nowrap;
  }

  .upper-navbar .left-part,
  .upper-navbar .middle-part,
  .upper-navbar .right-part,
  .lower-navbar .left-part,
  .lower-navbar .middle-part,
  .lower-navbar .right-part {
    flex: initial;
    text-align: left;
    margin: 0;
  }

  .lower-navbar .middle-part {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
/* src/App.css */

/* Show subcategory dropdown on hover */
.lower-navbar .middle-part .subcategory-dropdown {
  display: none;
}

.lower-navbar .middle-part:hover .subcategory-dropdown {
  display: block;
}

/* Optional: Adjust z-index to ensure dropdown appears above other elements */
.subcategory-dropdown {
  z-index: 1000;
}
